# <center>Pandas Assignment</center>

Import pandas and numpy with their aliases

In [7]:
import pandas as pd
import numpy as np

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [4]:
# a =pd.Series([100, 200, 300, 400])

Print a, and data type

In [14]:
import pandas as pd
import numpy as np

Using indexing access the element 300 from the series a.

In [21]:
b = pd.Series([800, 450, 100], index=['e', 'f', 'g'])

What are the values of index for series a?

In [29]:
print(a.index)

Index([0, 1, 2, 3, 'e', 'f', 'g'], dtype='object')

Change the index to  ['c', 'a', 'b', 'd']

In [31]:

new_labels = ['c', 'a', 'b', 'd']
full_new_index = new_labels + list(a.index[4:])
a.index = full_new_index

print(a)

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

Access the value in the series with index 'd'

In [32]:
print(a['f'])

450

Sort the values wrt to the index and print it

In [33]:
print(a.sort_index())

a    200
b    300
c    100
d    400
e    800
f    450
g    100
dtype: int64

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

In [34]:


b = pd.Series([800, 450, 100], index=['e', 'f', 'g'])
print(b)

e    800
f    450
g    100
dtype: int64

Append b series at the end of a series

In [35]:

a = pd.concat([a, b])
print(a)

c    100
a    200
b    300
d    400
e    800
f    450
g    100
e    800
f    450
g    100
dtype: int64

In [36]:
#print a again after appending b into it

Sort the values in descending order of a and print the index of the sorted series

In [37]:

sorted_a = a.sort_values(ascending=False)

print(sorted_a.index)

Index(['e', 'e', 'f', 'f', 'd', 'b', 'a', 'c', 'g', 'g'], dtype='object')

In [39]:

print(a.iloc[2])

300

## Pandas DataFrame

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [43]:
df = pd.DataFrame(a)
print(df)

     0
c  100
a  200
b  300
d  400
e  800
f  450
g  100
e  800
f  450
g  100

In [ ]:
print(df.shape)

(10, 1)

What is the shape of the datafarme <br>
(also, what does it imply?)

In [46]:
print(df.head(3))  
print(df.tail(2))

     0
c  100
a  200
b  300
     0
f  450
g  100

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a'

In [47]:
# yep its same as the series.

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [48]:
df.columns = ['points']
print(df.head())

   points
c     100
a     200
b     300
d     400
e     800

In [49]:
fruits_array = np.array(['orange', 'mango', 'apple'])

Rename the column of the dataframe as 'points'

In [51]:

fruits = pd.Series(np.random.choice(fruits_array, size=7))
print(fruits)

0     apple
1     mango
2    orange
3    orange
4     apple
5     mango
6     mango
dtype: object

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

In [52]:
#Create fruits array

# fruits =.index = df.index
print(fruits)

0     apple
1     mango
2    orange
3    orange
4     apple
5     mango
6     mango
dtype: object

In [54]:
#Create series fruits out of fruits array
print(df.head())

   points
c     100
a     200
b     300
d     400
e     800

Change the index of fruits to the index of dataframe df

In [56]:
data1 = {'City': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'],
         'Temperature': [15, 22, 20, 26, 2]}
d1 = pd.DataFrame(data1)

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

In [57]:
print(d1)

         City  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali            2

In [58]:
print(d1.shape)

(5, 2)

## Pandas Concatenation

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

In [59]:
city = d1['City']

Print(d1)

In [60]:
print(city)
print(type(city))

0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: City, dtype: object
<class 'pandas.core.series.Series'>

What is the shape of d1.

In [61]:
data2 = {'City': ['Bengaluru', 'Coimbatore', 'Srirangam', 'Pondicherry'],
         'Temperature': [24, 35, 36, 39]}
d2 = pd.DataFrame(data2)

Set city = d1['city']

In [62]:
print(d2.shape)

(4, 2)

print city <br>
What is the type of city.

In [63]:
d3 = pd.concat([d1, d2], ignore_index=True)
print(d3)

          City  Temperature
0   Chandigarh           15
1        Delhi           22
2       Kanpur           20
3      Chennai           26
4       Manali            2
5    Bengaluru           24
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39

Create another datafeame 'd2' where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

In [66]:

cold_cities = d3[d3['Temperature'] <= 20]
print(cold_cities)
print(f"Total cold cities: {len(cold_cities)}")

         City  Temperature
0  Chandigarh           15
2      Kanpur           20
4      Manali            2
Total cold cities: 3

print the shape of this dataframe

In [67]:
hot_cities = d3[d3['Temperature'] >= 35]
print(hot_cities)

          City  Temperature
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39

merge the two dataframes together, save it in a new dataframe named 'd3'

In [70]:
def is_ut(city_name):
    return city_name in ['Chandigarh', 'Pondicherry', 'Delhi']
d3['is_ut'] = d3['City'].apply(is_ut)

print(d3)

          City  Temperature  is_ut
0   Chandigarh           15   True
1        Delhi           22   True
2       Kanpur           20  False
3      Chennai           26  False
4       Manali            2  False
5    Bengaluru           24  False
6   Coimbatore           35  False
7    Srirangam           36  False
8  Pondicherry           39   True

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20 <br>
How many cities are there?

In [71]:
print(d3)

          City  Temperature  is_ut
0   Chandigarh           15   True
1        Delhi           22   True
2       Kanpur           20  False
3      Chennai           26  False
4       Manali            2  False
5    Bengaluru           24  False
6   Coimbatore           35  False
7    Srirangam           36  False
8  Pondicherry           39   True

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [73]:
def c_to_f(celsius_temp):
    return (celsius_temp * 9/5) + 32

## Applying functions to columns and creating new columns

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not. 
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [74]:
# write function here

# def is_ut(x):
    
#     # write code below
    
# d3['is_ut'] =

In [75]:
# print d3

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT - 
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [76]:
print(c_to_f(10))

50.0

In [78]:
d3['temp_farenheit'] = d3['Temperature'].apply(c_to_f)
print(d3.tail())

          City  Temperature  is_ut  temp_farenheit
4       Manali            2  False            35.6
5    Bengaluru           24  False            75.2
6   Coimbatore           35  False            95.0
7    Srirangam           36  False            96.8
8  Pondicherry           39   True           102.2

In [79]:
d3['temp_farenheit'] = d3['Temperature'].apply(c_to_f)
print(d3.tail())

          City  Temperature  is_ut  temp_farenheit
4       Manali            2  False            35.6
5    Bengaluru           24  False            75.2
6   Coimbatore           35  False            95.0
7    Srirangam           36  False            96.8
8  Pondicherry           39   True           102.2

## Indexing and selecting rows in DataFrame

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [ ]:

ut_df = d3[d3['is_ut'] == True]
print(ut_df)

          City  Temperature  is_ut  temp_farenheit
0   Chandigarh           15   True            59.0
1        Delhi           22   True            71.6
8  Pondicherry           39   True           102.2

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [81]:
hot_f_df = d3[d3['temp_farenheit'] > 90]
print(hot_f_df)

          City  Temperature  is_ut  temp_farenheit
6   Coimbatore           35  False            95.0
7    Srirangam           36  False            96.8
8  Pondicherry           39   True           102.2

Select only the first three rows of the dataframe d1.

In [82]:
print(d3.head(3))
# OR
# print(d3.iloc[:3])

         City  Temperature  is_ut  temp_farenheit
0  Chandigarh           15   True            59.0
1       Delhi           22   True            71.6
2      Kanpur           20  False            68.0

Select all the rows and last two columns in the dataframe.

In [83]:

print(d3.iloc[:, -2:])

   is_ut  temp_farenheit
0   True            59.0
1   True            71.6
2  False            68.0
3  False            78.8
4  False            35.6
5  False            75.2
6  False            95.0
7  False            96.8
8   True           102.2

## Groupby

In [84]:
data_group = {'Category': ['A', 'B', 'A', 'C', 'B', 'C', 'A'],
              'Value': [10, 20, 15, 30, 25, 35, 40]}
df_group = pd.DataFrame(data_group)
print(df_group)

  Category  Value
0        A     10
1        B     20
2        A     15
3        C     30
4        B     25
5        C     35
6        A     40

In [85]:

grouped_sum = df_group.groupby('Category')['Value'].sum()
print(grouped_sum)

Category
A    65
B    45
C    65
Name: Value, dtype: int64

In [86]:
data_group = {'Category': ['A', 'B', 'A', 'C', 'B', 'C', 'A'],
              'Value1': [10, 20, 15, 30, 25, 35, 40],
              'Value2': [1, 2, 3, 4, 5, 6, 7]}
df_group = pd.DataFrame(data_group)
print(df_group)

  Category  Value1  Value2
0        A      10       1
1        B      20       2
2        A      15       3
3        C      30       4
4        B      25       5
5        C      35       6
6        A      40       7

In [88]:

min_max_agg = df_group.groupby('Category').agg(['min', 'max'])
print(min_max_agg)

         Value1     Value2
            min max    min max
Category
A            10  40      1   7
B            20  25      2   5
C            30  35      4   6

In [89]:

mean_agg = df_group.groupby('Category')[['Value1', 'Value2']].mean()
print(mean_agg)

             Value1    Value2
Category
A         21.666667  3.666667
B         22.500000  3.500000
C         32.500000  5.000000

In [ ]:

min_max_specific = df_group.groupby('Category')[['Value1', 'Value2']].agg(['min', 'max'])
print(min_max_specific)

         Value1     Value2
            min max    min max
Category
A            10  40      1   7
B            20  25      2   5
C            30  35      4   6

## Data Range

Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

In [91]:

a = pd.date_range(start='1st of January, 2020', end='1st of April 2021')# a =

print a

In [92]:
print(a)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
               '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
               '2021-03-31', '2021-04-01'],
              dtype='datetime64[ns]', length=457, freq='D')

What is the len of a?

In [93]:
print(len(a))

457

What is the type of a?

In [94]:
print(type(a))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>