<a href="https://colab.research.google.com/github/chiragdubey6299-cmd/Unified-Mentor-Python-Projects/blob/main/Python_Basics_Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# List and it's Methods

Lists are used to store multiple items in a single variable.

*   Lists are used to store multiple items in a single variable.
*   It is a collection which is ordered, changeable and allows duplicate members.

**List Methods**


append(), sort(), reverse(), remove(), pop(), insert(), index(), extend(), count(), copy(), clear()

In [155]:
# fruits = ['apple', 'cherry', 'banana']

# fruits.append("orange")
# fruits.sort()
# fruits.reverse()
# fruits.remove("banana")
# fruits.pop(1)
# fruits.insert(1, "watermelon")
# fruits.index("orange")

# others = ['pineapple', 'strawaberry', 'guava','cherry','pineapple']

# fruits.extend(others)
# fruits.count("cherry")
# fruits.copy()
# fruits.clear()

In [156]:
# fruits

In [157]:
# fruits.pop(0)

In [158]:
# fruits_2

In [159]:
fruits = ['apple', 'cherry', 'banana']
fruits

['apple', 'cherry', 'banana']

In [160]:
fruits.pop(0)
fruits

['cherry', 'banana']

In [161]:
fruits_2 = ['pineapple', 'strawberry', 'guava', 'cherry', 'pineapple']
fruits_2

['pineapple', 'strawberry', 'guava', 'cherry', 'pineapple']

In [162]:
fruits.extend(fruits_2)
fruits

['cherry', 'banana', 'pineapple', 'strawberry', 'guava', 'cherry', 'pineapple']

# String and it's Methods

*   All string methods returns new values. They do not change the original string.

**String Methods**


*   isalpha(), isalnum(), index(), find(), count(), capitalize(), isdigit(), islower(), isnumeric()
*   endswith(), upper(), title(), swapcase(), strip(), startswith(), split(), join(), lower(), replace()

In [163]:
txt = "hello, and welcome to our course."
a = txt.capitalize()
# print(a)

txt = "I am from India and born in Maharashtra, India"
b = txt.count("India")
# print(b)

txt = "I love apples, apple are my favorite fruit"
c = txt.find("banana")
# print(c)

# d = txt.index("banana")
# print(d)

txt = "hello, my name is Peter, I am 26 years old"
e = txt.split(',')
print(e)

['hello', ' my name is Peter', ' I am 26 years old']

In [164]:
# Cell 1: Using replace()
txt = "I like blue cars. Blue is my favorite color."
# Replace "Blue" with "Red"
new_txt = txt.replace("Blue", "Red")
print(new_txt)

I like blue cars. Red is my favorite color.

In [165]:
# Cell 2: Using strip()
txt = "   Python is fun!   \n" # \n is a newline character (also whitespace)
cleaned_txt = txt.strip()
print(cleaned_txt)

Python is fun!

In [166]:
# Cell 3: Using upper() and lower()
txt = "mIxEd CaSe"
print(txt.upper())
print(txt.lower())

MIXED CASE
mixed case

In [167]:
txt = "I love apples, apple is my favorite fruit"

In [168]:
txt.find('banana')

-1

In [169]:
txt.index('apple')

7

In [170]:
# Example of using .find()
txt = "I love apples, orange is my favorite fruit"
position = txt.find('banana')
print(position)
# Output: -1

-1

In [171]:
# Find the position of 'fruit'
txt = "I love apples, apple is my favorite fruit"
position = txt.index("fruit")
print(position)
# Expected Output: 34 (The index of the first 'f' in the word 'fruit')

36

In [172]:
# Using replace()
txt = "I love apples, apple is my favorite fruit"
new_txt = txt.replace("apple", "mango")
print(new_txt)
# Expected Output: I love mangoes, mango is my favorite fruit

I love mangos, mango is my favorite fruit

In [173]:
# Using join()
words = ["I", "am", "learning", "Python"]
# Use a space " " as the separator
sentence = " ".join(words)
print(sentence)

# Another example: joining with a comma and space
data = ["Apple", "Banana", "Cherry"]
csv_data = ", ".join(data)
print(csv_data)

I am learning Python
Apple, Banana, Cherry

In [174]:
txt = "Company12"
name = txt.isalnum()
# print(name)

txt = "Company"
alpha = txt.isalpha()
# print(alpha)

txt = '50800'
num = txt.isdigit()
# print(num)

names = ["John", "Peter", "Vicky"]
joined = "_".join(names)
# print(joined)

txt = "I love sports"
result = txt.replace("sports", "cricket")
print(result)

I love cricket

In [175]:
txt = "Hello, welcome to my world."
start = txt.startswith("Hello")
end = txt.endswith(".")

In [176]:
start, end

(True, True)

In [177]:
# Final Empty Cell: Using strip()
txt = "   \n\tThis text needs cleaning.   "

# Use strip() to remove all leading and trailing whitespace characters
cleaned_txt = txt.strip()

print(f"Original: '{txt}'")
print(f"Cleaned: '{cleaned_txt}'")

# You can also strip specific characters, for example:
data = "***Hello World***"
stripped_data = data.strip("*")
print(f"Stripped Specific Char: {stripped_data}")

Original: '
	This text needs cleaning.   '
Cleaned: 'This text needs cleaning.'
Stripped Specific Char: Hello World

# Python Conditional Statements


*   If , elif, else statements

In [178]:
b , a = 33 , 200

# print(b>a)

if b > a:
  print("Entered")
else:
  print('Did not entered')

Did not entered

In [179]:
aman , vinod = 90 , 80

if vinod > aman:
  print("vinod scores greater than aman")
elif aman == vinod:
  print("Both scores equally")

In [180]:
if vinod > aman:
  print("vinod scores greater than aman")
elif aman == vinod:
  print("Both scores equally")
else:
  print('aman scores greater than vinod')

aman scores greater than vinod

In [181]:
marks = 72

if marks > 35:
  print("He is Pass")
  if marks > 60:
    print("He is in Distinction")
  else:
    print("He is in Mid Range")
else:
  print('Sadly, He is Fail')

He is Pass
He is in Distinction

In [182]:
# Cell 1: Logical Operators (AND/OR)
age = 25
is_student = True

# Check if the person is an adult (age >= 18) AND a student
if age >= 18 and is_student:
    print("Eligible for student discount.")
elif age >= 18 and not is_student:
    print("Eligible for adult ticket.")
else:
    print("Needs adult supervision.")

Eligible for student discount.

In [183]:
# Cell 2: Even or Odd Check (Modulo Operator)
number = 15

# The modulo operator (%) gives the remainder of a division.
# If number % 2 is 0, the number is even.
if number % 2 == 0:
    print(f"{number} is an Even number.")
else:
    print(f"{number} is an Odd number.")

15 is an Odd number.