<a href="https://colab.research.google.com/github/chiragdubey6299-cmd/Unified-Mentor-Python-Projects/blob/main/Python_Data_Structures_Day_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple
They are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.
It is written with round brackets.

In [12]:
fruits = ("apple", "banana", "cherry")                           # Standard Method
print(fruits)

('apple', 'banana', 'cherry')

In [13]:
ints = tuple([1,2,3,4,5,9,7,2,0])                                 # Function Method

In [14]:
ints

(1, 2, 3, 4, 5, 9, 7, 2, 0)

In [15]:
fruits = ("apple", "banana", "cherry","banana")                  # Allows Duplicates
print(fruits)

('apple', 'banana', 'cherry', 'banana')

In [16]:
# Count() Method

nums = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

nums.count(6)

1

In [17]:
# Index() Method

nums = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

nums.index(5)

5

In [18]:
# Min() & Max() Method

nums = (1, 3, 7, 99, 7, 5, 4, 6, 8, 5)

min(nums)
# max(nums)

1

In [19]:
# Accessing Elements and Slicing a Tuple

nums = (1, 3, 7, 99, 7, 5, 4, 6, 8, 5) # Reusing a tuple from above

# Get the first element
print(nums[0])

# Get a slice of the tuple (elements from index 2 up to, but not including, 5)
print(nums[2:5])

1
(7, 99, 7)

In [20]:
# Tuple Unpacking

coordinates = (10, 25)

# Unpack the tuple into two variables
x, y = coordinates

print(f"X coordinate is: {x}")
print(f"Y coordinate is: {y}")

X coordinate is: 10
Y coordinate is: 25

In [21]:
# Check for Membership (The 'in' Operator)

fruits = ('apple', 'banana', 'cherry', 'orange')

# Check if 'banana' is in the tuple
print('banana' in fruits)

# Check if 'grape' is NOT in the tuple
print('grape' not in fruits)

True
True

# Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [22]:
car = {"brand": "Ford","model": "Mustang","year": 1964}

# # Get() Method
car.get("year")

# # items() Method
car.items()

# # key() Method
car.keys()

# # values() Method
car.values()

dict_values(['Ford', 'Mustang', 1964])

In [23]:
# pop() Method
# car
car.pop("year")
print(car)

# popitem() Method

car.popitem()
print(car)

{'brand': 'Ford', 'model': 'Mustang'}
{'brand': 'Ford'}

In [24]:

car = {"brand": "Ford", "model": "Mustang", "year": 1964}

# Add & Update Items

car['color'] = 'Red'  # Adding a new item
print(car)

# Update the value of an existing key
car['model'] = 'Mustang GT'
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Red'}
{'brand': 'Ford', 'model': 'Mustang GT', 'year': 1964, 'color': 'Red'}

In [25]:


coordinates = (10, 25)

# Unpack the tuple into two variables
x, y = coordinates

print(f"X coordinate is: {x}")
print(f"Y coordinate is: {y}")

X coordinate is: 10
Y coordinate is: 25

In [26]:
# update() Method

car.update({"color": "White"})
print(car)

{'brand': 'Ford', 'model': 'Mustang GT', 'year': 1964, 'color': 'White'}

In [27]:
car

{'brand': 'Ford', 'model': 'Mustang GT', 'year': 1964, 'color': 'White'}

In [28]:
# clear() Method

car.clear()
# print(car)

In [29]:
car

{}

In [30]:
# 1. Introduction to Sets

# Sets are unordered, unindexed, and do not allow duplicate values.
# They are written with curly brackets {}.

my_set = {"apple", "banana", "cherry", "apple", "banana"}
print(my_set)
print(f"Type of my_set: {type(my_set)}")

# Expected Output: {'apple', 'cherry', 'banana'} (Order may vary)
# Expected Type: <class 'set'>

{'cherry', 'apple', 'banana'}
Type of my_set: <class 'set'>

In [31]:
# 2. Add and Remove Items

# Add an element using add()
my_set.add("orange")
print(f"After adding 'orange': {my_set}")

# Remove an element using remove()
# Note: Using remove() will raise an error if the item is not found.
my_set.remove("banana")
print(f"After removing 'banana': {my_set}")

After adding 'orange': {'cherry', 'orange', 'apple', 'banana'}
After removing 'banana': {'cherry', 'orange', 'apple'}

In [32]:
# 3. Set Operations (Union)

set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# The union() method returns a new set containing all items from both sets.
set_c = set_a.union(set_b)
print(f"Union of A and B: {set_c}")
# Expected Output: {1, 2, 3, 4, 5, 6}

Union of A and B: {1, 2, 3, 4, 5, 6}

# Set
Sets are used to store multiple items in a single variable.

Sets are written with curly brackets.

In [33]:
# fruits = {"apple", "banana", "cherry"}

# # add()

# fruits.add("orange")
# print(fruits)

# # pop()

# fruits.pop()
# print(fruits)

# # remove()

# fruits.remove("cherry")
# print(fruits)

In [34]:
type(fruits)

tuple

In [35]:
fruits = {"apple", "banana", "cherry"}
company = {"google", "microsoft", "apple"}

# difference()

print(company.difference(fruits))       # Output will be from LHS of dot set only

{'microsoft', 'google'}

In [36]:
# intersection()

print(company.intersection(fruits))      # Print common element from both the sets

{'apple'}

In [37]:
# union()

print(company.union(fruits))        # Combine both sets together to form new set

{'google', 'apple', 'cherry', 'microsoft', 'banana'}

In [38]:
# upate()

company.update(fruits)

In [39]:
fruits

{'apple', 'banana', 'cherry'}

In [40]:
company

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [41]:
# Create an Empty Set

# Note: Using {} creates an empty DICTIONARY, not a set.
empty_dict = {}
print(f"Type of {{}}: {type(empty_dict)}")

# Use the set() constructor to create an empty SET
empty_set = set()
print(f"Type of set(): {type(empty_set)}")

Type of {}: <class 'dict'>
Type of set(): <class 'set'>