<a href="https://colab.research.google.com/github/chiragdubey6299-cmd/Unified-Mentor-Python-Projects/blob/main/Python_Basics_Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For Loop

*   It is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
*   Using Break & Contiue keyword

In [10]:
fruits = ["apple", "banana", "cherry",'pineappple','mango']

for i in fruits:
  print(i)

apple
banana
cherry
pineappple
mango

In [11]:
fruits = ["apple", "banana", "cherry", "pineapple", "mango"]

for x in fruits:
  print(x)
  if x == "cherry":
    break  # Stops the loop completely

apple
banana
cherry

In [12]:
fruits = ["apple", "banana", "cherry", "pineapple", "mango"]

for x in fruits:
  if x == "cherry":
    continue  # Skips 'cherry' and goes to 'pineapple'
  print(x)

apple
banana
pineapple
mango

In [13]:
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [14]:
for x in fruits:
  if x == "cherry":
    continue
  print(x)

apple
banana
pineapple
mango

In [15]:
fruits = ["apple", "banana", "cherry", "pineapple", "mango"]

for x in fruits:
  if x == "cherry":
    print("Found 'cherry', breaking the loop!")
    break  # The loop stops here
  print(x)

apple
banana
Found 'cherry', breaking the loop!

In [16]:
fruits = ["apple", "banana", "cherry", "pineapple", "mango"]

for x in fruits:
  if x == "cherry":
    print("Skipping 'cherry'...")
    continue  # Jumps to the next fruit ('pineapple')
  print(x)

apple
banana
Skipping 'cherry'...
pineapple
mango

# While Loop

*   With the while loop we can execute a set of statements as long as a condition is true.
*   Using Break & Contiue keyword

In [17]:
num = 1

while num < 6:
  print(num)
  num += 1

1
2
3
4
5

In [18]:
num = 1

while num < 6:
  print(num)
  if num == 3:
    break
  num = num + 1

1
2
3

In [19]:
num = 0

while num < 5:
  num = num + 1  # Increment first
  if num == 3:
    print("Skipping 3...")
    continue     # Skip printing when num is 3
  print(num)

1
2
Skipping 3...
4
5

In [20]:
num = 1

while num < 4:
  print(num)
  num = num + 1
else:
  print("The loop has finished counting!")

1
2
3
The loop has finished counting!

In [21]:
num = 0

while num < 10:
  num += 1
  if num == 5:
    continue
  print(num)

1
2
3
4
6
7
8
9
10

In [22]:
# Demonstrating the 'break' statement
num = 0
while num < 10:
    num += 1
    if num == 7:
        print("Breaking the loop when num is 7")
        break
    print(num)

1
2
3
4
5
6
Breaking the loop when num is 7

In [23]:
# Simple example using the range() function
for i in range(1, 6):
    print(f"The current number is: {i}")

# Example iterating over a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

The current number is: 1
The current number is: 2
The current number is: 3
The current number is: 4
The current number is: 5
apple
banana
cherry

# Python Functions

*   A function is a block of code which only runs when it is called.

*   Advanced Functions - lambda, map, zip

In [24]:
def intro():                     # Function Defining
  value = 5
  return value**2
  # print("Hello i'm from a function")

In [25]:
intro()       # Function Calling

25

In [26]:
def my_ID(name):                    # Function with Arguments
  print("CR001_" + name)

In [27]:
my_ID("Sai")

CR001_Sai

In [28]:
# def add(a,b,c):
#   return a+b+c


# Using Lambda Function

add = lambda a,b,c: print(a+b+c)

In [29]:
add(4, 5, 5)

14

In [30]:
# add(4,5,1)

In [31]:
# Map Function

nums = [1, 2, 3, 4, 5]

def sq(n):
    return n*n

# sq(2)

square = map(sq, nums)

print(list(square))

[1, 4, 9, 16, 25]

In [32]:
# Zip Function

name = ["Manjeet", "Nikhil", "Shambhavi"]
ID = [4, 1, 3]

mapped = zip(name, ID)

print(list(mapped))

[('Manjeet', 4), ('Nikhil', 1), ('Shambhavi', 3)]

In [33]:
type(mapped)

zip

In [34]:
import math

def circle_area(radius):
    """Calculates the area of a circle given its radius."""
    return math.pi * (radius ** 2)

# Call the new function
print(f"Area with radius 5: {circle_area(5)}")

Area with radius 5: 78.53981633974483