<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

In [132]:
# 1. Introduction to Lists

# Lists are Mutable (can be changed) and allow duplicates.
# They are defined using square brackets [].

my_list = ["apple", 101, "banana", 101, True]

print(f"The list is: {my_list}")
print(f"The data type is: {type(my_list)}")

# Lists are Ordered and Indexed:
print(f"First element: {my_list[0]}")

# Lists are Mutable:
my_list[1] = 202 # Changing the element at index 1
print(f"List after change: {my_list}")

The list is: ['apple', 101, 'banana', 101, True]
The data type is: <class 'list'>
First element: apple
List after change: ['apple', 202, 'banana', 101, True]

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [133]:
# create empty list, name it 'a'

In [134]:
# print the value of a

In [135]:
# print the type of a

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [136]:

# create empty list, name it 'a'
a = [] 

# print the value of a and the type of a
print(a)
print(type(a))

[]
<class 'list'>

Print the number of elements in the list

In [137]:
languages = ['R', 'Python', 'SAS', 'Scala', 42]

Using for loop iterate and print all the elements in the list

In [138]:


for item in languages:
    print(item)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [139]:
# 'Python' second item ‡§π‡•à, ‡§ú‡•ã index 1 ‡§™‡§∞ ‡§π‡•à
temp = languages[1]

Print the value of temp and type(temp)

In [140]:
print("Value of temp:", temp)
print("Type of temp:", type(temp))

Value of temp: Python
Type of temp: <class 'str'>

Append the element 'Java' in the list

In [141]:

languages.append('Java')
print(languages)

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [142]:

languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [143]:

colors = ['Red', 'Blue', 'White']
print(colors)

['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [144]:

colors.append('Black')
print(colors)

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [145]:

colors.insert(1, 'Orange')
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Print the list

In [146]:

print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [147]:

colors2 = ['Grey', 'Sky Blue']
print(colors2)

['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [148]:

colors.extend(colors2)
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [149]:

print("Length of the list:", len(colors)) 
print("Elements:", colors)

Length of the list: 7
Elements: ['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [150]:

colors.sort() 
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [151]:

sent = 'Coronavirus Caused Lockdowns Around The World.'
print(sent)

Coronavirus Caused Lockdowns Around The World.

Use split function to convert the string into a list of words and save it in variable words and print the same

In [152]:

words = sent.split()
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [153]:

words_lower = [word.lower() for word in words]
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

In [154]:

print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‚Äòcountry‚Äô is in the list

In [155]:

print('country' in words_lower)

False

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [156]:

words_lower.remove('the')
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [157]:

x4 = words_lower[0:4]

In [158]:
# print x4

Convert the list of elements to single string using join function and print it

In [159]:
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [160]:

stud_grades = ['A', 'A', 'B', 'C', 'C', 'F']
print(stud_grades)

['A', 'A', 'B', 'C', 'C', 'F']

Print the len of stud_grades

In [161]:
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [162]:

stud_grades_set = set(stud_grades)
print(stud_grades_set)

{'A', 'B', 'C', 'F'}

Print stud_grades_set.

In [163]:
print(stud_grades_set)

{'A', 'B', 'C', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [164]:

print("stud_grades (List):")
print("Type:", type(stud_grades))
print("Elements:", stud_grades)
print("\nstud_grades_set (Set):")
print("Type:", type(stud_grades_set))
print("Elements:", stud_grades_set)

stud_grades (List):
Type: <class 'list'>
Elements: ['A', 'A', 'B', 'C', 'C', 'F']

stud_grades_set (Set):
Type: <class 'set'>
Elements: {'A', 'B', 'C', 'F'}

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [165]:

stud_grades_set.add('G')
print(stud_grades_set)

{'A', 'B', 'G', 'C', 'F'}

Add element 'F' to stud_grades_set. and print it.

In [166]:

stud_grades_set.add('F')
print(stud_grades_set)

{'A', 'B', 'G', 'C', 'F'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [167]:

stud_grades_set.remove('F')
print(stud_grades_set)

{'A', 'B', 'G', 'C'}

Print the elements and the length of stud_grades_set

In [168]:

print("Elements:", stud_grades_set) 
print("Length:", len(stud_grades_set))

Elements: {'A', 'B', 'G', 'C'}
Length: 4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [169]:

colors = ['red', 'blue', 'orange']
fruits = ['orange', 'grapes', 'apples']

Print color and fruits

In [170]:
print("Colors List:", colors)
print("Fruits List:", fruits)

Colors List: ['red', 'blue', 'orange']
Fruits List: ['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [171]:

colors_set = set(colors)
fruits_set = set(fruits)
print("Colors Set:", colors_set)
print("Fruits Set:", fruits_set)

Colors Set: {'orange', 'blue', 'red'}
Fruits Set: {'orange', 'grapes', 'apples'}

Find the union of both the sets.

In [172]:

union_set = colors_set.union(fruits_set)

print(union_set)

{'grapes', 'blue', 'red', 'orange', 'apples'}

Find the intersection of both the sets

In [173]:

intersection_set = colors_set.intersection(fruits_set)

print(intersection_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [174]:

difference_set = fruits_set.difference(colors_set)

print(difference_set)

{'grapes', 'apples'}

In [175]:

sym_diff_set = colors_set.symmetric_difference(fruits_set)

print(sym_diff_set)

{'red', 'blue', 'grapes', 'apples'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [176]:

temp = (17, 'Virat', 50.0)

print(temp)
print(type(temp))

(17, 'Virat', 50.0)
<class 'tuple'>

Iterate through temp and print all the items in temp

In [177]:

for item in temp:
    print(item)

17
Virat
50.0

replace first element with 11 in temp

In [178]:

temp_list = list(temp) 
temp_list[0] = 11
temp = tuple(temp_list)

print(temp)

(11, 'Virat', 50.0)

Set temp1 = tuple(temp)

In [179]:

temp1 = tuple(temp)

print(temp1)
print(type(temp1))

(11, 'Virat', 50.0)
<class 'tuple'>

Iterate through temp1 and print all the items in temp1.

In [180]:

for item in temp1:
    print(item)

11
Virat
50.0

replace first element with 17 in temp1

In [181]:

temp_list = list(temp1)
temp_list[0] = 17
temp1 = tuple(temp_list)

print(temp1)

(17, 'Virat', 50.0)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [182]:

city = ('Bangalore', 28.9949521, 72)
print(city)

('Bangalore', 28.9949521, 72)

Print first element of city

In [183]:

print(city[0])

Bangalore

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [184]:

city2 = ('Chennai', 30.01, 74)
print(city2)

('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [185]:

cities = city + city2
print(cities)

('Bangalore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print cities

In [186]:
print(cities)

('Bangalore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [187]:

print(type(cities[0]))

<class 'str'>

print the type of cities

In [188]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [189]:

d = {"actor":"amir", "animal":"cat", "earth":2, "list":[23, 32, 12]}
print(d)
print(type(d))

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}
<class 'dict'>

Print the value of d[0]

In [191]:

print(d['earth'])

2

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [ ]:

actor = d['actor']
print(actor)

amir

Print the type of actor

In [ ]:
print(type(actor))

<class 'str'>

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [ ]:

List = d['list']
print(List)

[23, 32, 12]

Print the type of List.

In [ ]:
print(type(List))

<class 'list'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [ ]:

d1 = {'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}
print(d1)

{'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Merge d1 into d.

In [ ]:

d.update(d1)

print d

In [ ]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [ ]:

print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [ ]:

print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [ ]:

for key, value in d.items():
    print(f"({key} ---> {value})")

(actor ---> amir)
(animal ---> cat)
(earth ---> 2)
(list ---> [23, 32, 12])
(singer ---> Kr$na)
(album ---> Still here)
(genre ---> hip-hop)

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [ ]:

char_counts = {}
sent = 'Coronavirus Caused Lockdowns Around The World.'
for char in sent:
    char_lower = char.lower()
    char_counts[char_lower] = char_counts.get(char_lower, 0) + 1
print(char_counts)

{'c': 3, 'o': 6, 'r': 4, 'n': 3, 'a': 3, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'l': 2, 'k': 1, 'w': 2, 't': 1, 'h': 1, '.': 1}

In [ ]:

x = 20
if x > 10:
    print(f"{x} is greater than 10")
else:
    print(f"{x} is 10 or less")

20 is greater than 10